DATABASE_URL="postgresql://USER:PASSWORD@HOST/DBNAME?sslmode=require"
PROM_XML_FEED_URL="https://do-bro.prom.ua/products_feed.xml?hash_tag=ba2f8ee46a7ede7d85ec7252a6ffe3ad&sales_notes=&product_ids=&label_ids=&exclude_fields=&html_description=0&yandex_cpa=&process_presence_sure=&languages=uk%2Cru&extra_fields=&group_ids="
CRON_SECRET="123"
NEXT_PUBLIC_SITE_URL="http://localhost:3000"
TELEGRAM_BOT_TOKEN=""
TELEGRAM_CHAT_ID=""
ADMIN_USERNAME="admin"
ADMIN_PASSWORD="change_admin_password"
ADMIN_SESSION_SECRET="change_admin_session_secret"
